/*----------------------------------footer--------------------------------*/
.footer {
    &__wrapper {
        padding: 24px 0px;
    }
    &__logo {
        margin-bottom: 40px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__block {
        p,
        address {
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 130%;
            @include fluid-text(13, 15);
        }
        &:nth-child(3) {
            .footer__list {
                & :last-child {
                    max-width: 200px;
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__title {
        margin-bottom: 16px;
    }
    &__list {
        li {
            margin-bottom: 10px;
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 130%;
            @include fluid-text(13, 15);
            transition: all 0.3s;
            @include hover {
                color: var(--color-primary);
            }
        }
    }
    &__tel {
       margin-bottom: 24px;
       p {
          margin-bottom: 8px;
       }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        address {
            max-width: 210px;
        }
        a {
            display: flex;
            gap: 10px;
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 130%;
            @include fluid-text(13, 15);
            img {
                width: 20px;
                height: 18px;
            }
        }
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
    &__box {
        p {
            margin-bottom: 16px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__bottom {
        padding: 40px 0px;
    }
}


/*----------------------------------footer--------------------------------*/