/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    @include fluid-text(14, 17);
    font-weight: 700; 
    color: var(--color-black-text); 
    background: var(--color-white);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px 16px;
}
section {
    padding: 64px 0px;
    @include mobile {
        padding: 30px 0px;
    }
}
.section-color {
    background-color: var(--color-bg);
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    @include fluid-text(26, 40);
    line-height: 130%;
    color: var(--color-black);
    margin-bottom: 32px;
    &--mod {
        color: var(--color-white);
        margin-bottom: 24px;
    }
}
.subtitle {
    @include fluid-text(18, 32);
    line-height: 100%;
    color: var(--color-white);
}
.text {
    @include fluid-text(14, 18);
    color: var(--color-black);
    line-height: 100%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 11px 24px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    @include fluid-text(12, 13);
    white-space: nowrap;
}
.button-outline {
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    color: var(--color-primary);
    @include hover {
        background-color: var(--color-primary-hover);
    }
    &:active {
        border: 1px solid var(--color-primary-hover);
        color: var(--color-primary-disabled);
        svg {
            transition: all 0.3s ease;
            opacity: 0.5;
        }
    }
    @include mobile {
        justify-content: center;
    }
}
.button-filled-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    @include hover {
        background-color: var(--color-primary-hover);
        color: var(--color-primary);
        svg path {
            stroke: var(--color-primary);
            transition: all 0.3s ease;
        }
    }
    &:active {
        background-color: var(--color-primary-disabled);
        color: var(--color-white);
        svg path {
            stroke: var(--color-white);
        }
    }
}
.button-filled-secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
    @include hover {
        background-color: var(--color-secondary-hover);
        color: var(--color-secondary);
    }
    &:active {
        background-color: var(--color-secondary-disabled);
        color: var(--color-white);
    }
}
.button-white {
    background-color: var(--color-white);
    color: var(--color-black-text);
    border: 1px solid var(--color-white);
    @include hover {
        color: var(--color-white);
        background-color: rgba(255, 255, 255, 0.1);
        svg path {
            stroke: var(--color-white);
            transition: all 0.3s ease;
        }
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--color-primary);
        svg path {
            stroke: var(--color-primary);
            transition: all 0.3s ease;
        }
    }
}
.right__button {
    justify-self: end;
    .button {
        justify-content: center;
    }
    @include mobile {
        float: none;
    }
}
.video {
    height: 100%;
    width: 100%;
    p {
        font-weight: 600;
        font-family: var(--font-family-m);
        line-height: 141%;
        padding: 16px;
        span {
            color: var(--color-primary);
        }
    }
    &__link {
        position: relative;
        display: inline-block;
        &_play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            border: 1px solid var(--color-white);
            padding: 22px;
        }
        img {
            width: 100%;
            border-radius: 24px;
        }
    }
}

/*----------------------------------global--------------------------------*/